* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #6b0404;
  background-color: #080000;
  /* background-color: #000000; */
}

audio {
  /* display: none; */
  color: null;
}

.Navbar {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6b0404;
}

em{
  color: #0a0a0a;
  background-color: #6b0404;
  
}

.NavHeader {
  color: #ded1d1;
  font-size: 34px;
  background-color: #6b0404;
}

h1,
h2,
h3 {
  margin: 10px 0;
}

h4{
  padding-left: 35px;
  padding-top: 35px;
}

.filter_form {
  background-color: rgb(12, 12, 12);
  color: rgb(255, 17, 0);
  width: 200px;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 8px;
  margin-bottom: 25px ;
  margin-left: 30px;
  margin-top: 10px;
}

form {
  border: 1px solid #333;
  padding: 10px;
  margin: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 8px;
  margin: 5px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #6b0404;
  color: #ffffff;
  cursor: pointer;
}

.delete_btn{
    background-color: firebrick;
    color: whitesmoke;
    width: 100px;
    margin: 10px 0 ;

}

.edit_btn{
    background-color: cornflowerblue;
    color: whitesmoke;
    width: 100px;
    margin-bottom: 55px;
    
}

.fugitive_details {
  display: flex;
  flex-direction: column;
  margin: 0 32px;
  
}

.container {
  display: flex;
  flex-direction: column;
  height: 300vh;
  margin: 0 32px;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
  border: 2px solid red;
}

img{
  border-radius: 30% 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
