*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #6b0404;
    background-color: #000000;
}

audio{
    /* display: none; */
    color: null;
}

h1, h2, h3 {
    margin: 5px;

}




p{
    margin: 5px;
}

.bounty_container{
    display: flex;
    flex-direction: column;
    margin: 0 32px;
}

.bounty{
    border: 1px solid #333;
    padding: 10px;
    margin: 5px;
}

/*---------------------------------------*/

form{
    border: 1px solid #333;
    padding: 10px;
    margin: 5px;
}

input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 8px;
    margin: 5px;
}

button{
    padding: 5px;
    border-radius: 4px;
    font-size: 16px;
}

.delete_btn{
    background-color: firebrick;
    color: whitesmoke;

}

.edit_btn{
    background-color: cornflowerblue;
    color: whitesmoke;
}

/*-----------------------------------------------------*/

.underline{
    text-decoration: underline;
}

.isAlive{
    padding: 5px;
    border-radius: 4px;
    font-size: 16px;
    background-color: red;
}

img{
    border-radius: 50%;
}

/* img:hover{
    border-radius: 50%,
    
    
} */